<div class="container light-style flex-grow-1 container-p-y profile-container">

  <h2 class="font-weight-bold py-3 mb-4">
    Home Tours
  </h2>

  <div class="card card-container-custom">
    <div class="no-tour-title">
      <i class="fas fa-home home-icon"></i>
      <div>
        <h4>You have no upcoming tours</h4>
        <p>Find homes you’d like to see in person and schedule free <a href="/">here</a></p>
      </div>
    </div>

    <div class="container mt-4 mb-5">
      <div class="row home-tour-title mb-5">
        <h3>Your upcoming tours</h3>
      </div>
      <div class="row ml-1 mr-1 tour-wrapper">
        <div class="col-md-12 p-0 tour-list">
          {{#each homeTours}}
            <div class="bg-white p-3 rounded card-wrapper mb-3">
              <div class="row">
                <div class="col-md-3">
                  <img src="{{this.propertyImage}}" class="card-img-top prev_image" alt="property image">
                </div>
                <div class="col-md-6 border-right d-flex flex-column property-info">
                  <div class="property-name">
                    <h4>{{this.propertyName}}</h4>
                  </div>
                  <div class="property-address">
                    <p>{{this.propertyAddress}}</p>
                  </div>
                  <div class="property-price">
                    <p>${{this.propertyPrice}}</p>
                  </div>
                  <div class="property-description">
                    <p><strong>Description: </strong>{{this.propertyDescription}}</p>
                  </div>
                </div>
                <div class="d-flex col-md-3">
                  <div class="tour-info">
                    <label class="appointment-date-label">Appointment date</label>
                    <div class="appointment-date">{{this.appointmentDate}}</div>

                    <label class="status-label">Status</label>
                    <div class="status">{{this.status}}</div>
                  </div>
                </div>
              </div>
              <input class="home-tour-id" type="hidden" name="homeTourId" value="{{this.id}}">
              <button class="btn btn-danger cancel-tour-btn">Cancel</button>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal HTML -->
  <div id="deleteModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-header flex-column">
          <div class="delete-icon-box">
            <i class="material-icons">&#xE5CD;</i>
          </div>
          <h4 class="modal-title w-100">Are you sure?</h4>
          <button id="exitDeleteModalBtn" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p>Do you really want to cancel this home tour? This process cannot be undone.</p>
        </div>
        <div class="modal-footer justify-content-center">
          <button id="delete-modal-no-btn" type="button" class="btn btn-secondary">No</button>
          <button id="delete-modal-yes-btn" type="button" class="btn btn-danger">Yes</button>
        </div>
      </div>
    </div>
  </div>

</div>
<script defer src="/fontawesome/fontawesome-free-5.15.1-web/js/all.js"></script>
<script src="/javascripts/jquery-3.4.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/jquery/userHomeTours.js"></script>