<section class="blog-posts grid-system mb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="{{property.previewImage}}" alt={{property.name}}>
                                </div>
                                <div class="down-content">
                                    <span>{{property.category.name}}</span>
                                    <div class="row">
                                        <div class="d-flex bd-highlight">
                                            <div class="flex-grow-1 bd-highlight ">
                                                <h4>{{property.name}}</h4>
                                            </div>
                                            <div
                                                class="p-2 flex-shrink-1 bd-highlight d-flex align-content-center flex-wrap">
                                                <span>${{property.price}}</span></div>
                                        </div>
                                        
                                        <ul class="post-info">
                                            <li><a href="#">{{property.seller.name}}</a></li>
                                            <li><a>{{property.postDate}}</a></li>
                                        </ul>
                                      <div class="control-container">
                                        {{#if isFavourite}}
                                        <button class="btn favourite-btn press" type="button" value={{property._id}}><i class="far fa-heart"></i> Favourite this </button>
                                        {{else}}
                                          <button class="btn favourite-btn" type="button" value={{property._id}}><i class="far fa-heart"></i> Favourite this </button>
                                        {{/if}}
                                        <button type="button" class="btn btn-primary request-tour-btn">Request a tour</button>
                                      </div>
                                    </div>

                                    <hr class="dropdown-divider">
                                    <h5>Description</h5>
                                    <ul>
                                        <li>
                                            Địa chỉ: {{property.address}}
                                        </li>
                                        <li>
                                            Mô tả: {{property.description}}
                                        </li>
                                    </ul>
                                    <hr class="dropdown-divider">
                                    <h5>Features</h5>
                                    <ul class="list-group list-group-flush">
                                        {{#each property.feature}}
                                        <li class="list-group-item">{{this}}</li>
                                        {{/each}}
                                    </ul>
                                    <hr class="dropdown-divider">
                                    <h5>Map</h5>
                                    <!--The div element for the map -->
                                    <div id="map"></div>
                                    <script src="/jquery/map.js"></script>
                                    <script
                                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4nLHv8knjzism36-uclagvwZUM622QkM&callback=initMap&libraries=&v=weekly"
                                        async></script>
                                    <hr class="dropdown-divider">
                                    <h5>More</h5>
                                    <div class="more-container">
                                        <div class="row">
                                            {{#each property.detailImage}}
                                            <div class="col-4">
                                                <img src={{this}} class="img-thumbnail" alt={{this.slug}}>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                    <div class="d-grid gap-2 mt-4">

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item submit-comment">
                                <div class="sidebar-heading">
                                    <h2>Your comment</h2>
                                </div>
                                <div class="content">
                                    <form id="commentForm">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <input type="hidden" name="propertyId" value={{property._id}}>
                                                    <textarea name="commentContent" rows="3" id="commentContent"
                                                        placeholder="Type your comment" required></textarea>
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <button type="submit" id="commentSubmitBtn"
                                                        class="main-button">Submit</button>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item comments {{property.slug}}">
                                {{!-- JQuery will generate comment UI here --}}
                            </div>
                        </div>
                        <div class = "mt-4 pagination-wrapper pagination justify-content-center">
                            {{!-- JQuery will generate pagination UI here --}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sidebar-item recent-posts">
                                <div class="sidebar-heading">
                                    <h2>Related Posts</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        {{#each related}}
                                        <li>
                                            <div class="card mb-3" style="max-width: 540px;">
                                                <div class="row g-0">
                                                    <div class="col-lg-12">
                                                        
                                                        <div class="card-body">
                                                            <a href="/detail/{{this.slug}}" class="related-property" >
                                                                <h5 class="card-title">
                                                                        {{this.name}}
                                                                </h5>
                                                            </a>
                                                            <p class="card-text"><small class="text-muted">Last updated
                                                                    {{this.time}} {{this.unit}} ago</small></p>
                
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        {{/each}}
                                        
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item categories">
                                <div class="sidebar-heading">
                                    <h2>Categories</h2>
                                </div>
                                <div class="content">
                                    
                                    <ul>
                                        {{#each category}}
                                        <li><a href="/buy/categories/{{this.slug}}"> {{this.name}}</a></li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item tags">
                                <div class="sidebar-heading">
                                    <h2>Others</h2>
                                </div>
                                <div class="content ml-0">
                                    <ul>
                                        <li><a href="#">Kitten</a></li>
                                        <li><a href="#">Bathroom</a></li>
                                        <li><a href="#">Kidsroom</a></li>
                                        <li><a href="#">Outdoor</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Request a tour Modal HTML -->
    <div id="requestTourModal" class="modal fade">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                        <button type="button" class="close cancel-form-btn" aria-hidden="true">&times;</button>
                        <h3 >Request a tour</h3>
                        <p>Let us know when you're available, and we will contact you to arrange a tour.</p>
                    </div>
                </div>
                <div class="modal-body">	
                    <div class="success-tab">
                        <div class="success-msg">
                            <i class="fa fa-check-circle" style="color:green"></i>
                            <p>Tour request sent</p>
                        </div>
                        <div class="requested-date-wrapper">
                            <div class="requested-date-label">
                                <i class="fa fa-calendar" style="color: #8e6ad5"></i>
                                <p>Your requested dates: </p>
                            </div>
                            <div class="requested-date">
                                <p>Test</p>
                            </div>
                        </div>				
                    </div>
                    <form id="requestTourForm" class="row g-3">
                        <input type="hidden" name="propertyId" value={{property._id}}>
                        <label for="example" class="date-label">Select a date you’re available</label>
                        <div class="input-group datepicker">
                          <input placeholder="Select a date" type="text" id="datepicker" class="form-control" name="date" required>
                          {{!-- <span class="input-group-text"><i class="fas fa-calendar"></i></span> --}}
                          
                        </div>
                        <div class="mb-2">
                          <label for="time" class="form-label">Select a time</label>
                          <input type="time" name="time" class="form-control" required>
                        </div>
                        <div class="mb-2">
                        <div class="mb-2">
                          <label for="fullName" class="form-label">Fullname</label>
                          <input type="text" name="fullName" class="form-control" placeholder="Ex: Nguyen Van A">
                        </div>
                        <div class="mb-2">
                          <label for="email" class="form-label">Email address</label>
                          <input type="email" name="email" class="form-control" placeholder="Ex: name@example.com" required>
                        </div>
                        <div class="mb-2">
                          <label for="phoneNumber" class="form-label">Phone number</label>
                          <input type="tel" name="phoneNumber" class="form-control" placeholder="Ex: 0932200XXX" required>
                        </div>
                        <a class="add-message-btn" data-bs-toggle="collapse" href="#collapseMessage" role="button" aria-expanded="false" aria-controls="collapseExample">
                          + ADD A MESSAGE
                        </a>
                        <div class="collapse" id="collapseMessage">
                            <div class="mb-2">
                              <label for="message" class="form-label">Enter your message</label>
                              <textarea class="form-control" name="message" placeholder="Add your message" rows="2"></textarea>
                            </div>
                        </div>

                        <button type="submit" class="ml-2 btn btn-primary submit-form-btn">Send tour request</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div id="loginConfirmModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close hide-login-confirm-btn" aria-hidden="true">&times;</button>
                    <p>You must login to continue. <a href='#'>Click here</a> to login</p>
                </div>
            </div>
        </div>
    </div>


</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>
<script src="/javascripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
<script src="/jquery/commentPaging.js"></script>
<script src="/jquery/comment.js"></script>
<script src="/jquery/requestTourModal.js"></script>
<script src="/jquery/favourite.js"></script>
